body {
      font-family: Arial, sans-serif;
      padding: 25.0px;
      background-color: #564D82;
    }
    .cont {
      background-color: #1A664F;
      border-radius: 15px;
      padding: 12px;
    }
    .top {
      text-align: center;
      gap: 4;
    }
    
#courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem; /* optional spacing */
}
    .course {
      margin-bottom: 15px;
    }

    input, select {
      padding: 5px;
      margin-right: 10px;
      background-color: #DDBD57;
      border-radius: 15px;
      height: 30px;
      font-size: 15px;
      
    }

    button {
      margin-top: 15px;
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 12px;
      font-size: 18px;
    }

    #result {
      margin-top: 20px;
      font-weight: bold;
    }
    
    .delete-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 7px;
    display: block;
    padding: 8px 16px;
    cursor: pointer;
    }
    
    .delete-btn img {
      height: 25px;
      width: auto;
      display: inline-block;
      margin-bottom: -6px;
    }

      #GPA {
      margin-left: 80%;
      color: #664647;
      font-size: 30px;
      }